.popup__container {
  max-width: 430px;
  width: 100%;
  min-height: 330px;
}

@media screen and (max-width: 1023px) {
  .popup__container {
    max-width: 330px;
    min-height: 270px;
  }
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }
}
