.profile__about-yourself {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin: 0;
  grid-area: about-yourself;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
